<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dice.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Dice.My.MySettings>
            <setting name="Name" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                        <string>Name</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Num" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1</string>
                        <string>2</string>
                        <string>3</string>
                        <string>4</string>
                        <string>5</string>
                        <string>6</string>
                        <string>7</string>
                        <string>8</string>
                        <string>9</string>
                        <string>10</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Side" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>2</string>
                        <string>4</string>
                        <string>6</string>
                        <string>8</string>
                        <string>10</string>
                        <string>12</string>
                        <string>20</string>
                        <string>25</string>
                        <string>50</string>
                        <string>100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Modi" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                        <string>+1</string>
                        <string>-2</string>
                        <string>+3</string>
                        <string>-4</string>
                        <string>+5</string>
                        <string>-6</string>
                        <string>+7</string>
                        <string>-8</string>
                        <string>+9</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Dice.My.MySettings>
    </userSettings>
</configuration>